$color-basic: #333;
$color-sub: rgb(84, 139, 202);
$color-lighten: lighten($color-sub,40%);
$color-darken: darken($color-sub,40%);
$color-darken-light: darken($color-sub, 15%);

$space-m : 30px;
$space-s : 20px;
$header-height: 50px;

$fz-xl: 40px;
$fz-l: 30px;
$fz-m: 20px;
$fz-s: 16px;
$fz-xs: 14px;

// レスポンシブデザイン用変数
$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)'
) !default;

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body,h1,h2,h3,ul{
  margin: 0;
  padding: 0;
  color: $color-darken;
}
body{
  font-family: 'Electrolize', sans-serif;
  background: #fff;
}
main{
  padding-top: $header-height;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: $color-basic;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
th{
  text-align: left;
  padding-left: 15px;
  min-width: 180px;
  padding-bottom: 5px;
}

// .bg-darken{
//   background: darken($color-sub, 15%);
//   h1,h2,h3,p,li,a,th,td{
//     color: #fff;
//   }
// }
// .clearfix::after{
//   content: '';
//   display: block;
//   clear: both;
// }
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background:$color-sub;
  border-bottom: 2px solid $color-darken-light;
  .title {
    color: white;
    font-size: $fz-xl;
    margin-left: $space_m;
    line-height: $header-height;
    position: relative;
    top: 3px;
    @include mq(sm){
      width: 100%;
      text-align: center;
    }
  }
  .nav{
    @include mq(md) {
      display: none;
    }
    &-list {
      margin-right: $space_m;
      display: flex;
      align-items: center;
      height: $header-height;
    }
    &-item {
        font-size: $fz-m;
        padding: 20px 5px;
        margin-left: 15px;
      }
    }
  }
.link{
  color:$color-darken-light;
}
.link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    background: $color-lighten;
    height: 2px;
    transition: all .5s;
    transform: scale(0, 1);
  }
.link:hover::after {
    transform: scale(1, 1);
  }

.container{
  width: 60%;
  margin: 30px auto 50px;
  @include mq(md){
    width: 100%;
  }
  &-group-flex{
    display: flex;
    justify-content: space-between;
    @include mq(sm){
      display: block;
    }
  }

  &-title{
    font-size: $fz-l;
    text-align: center;
    margin-bottom: $space-m;
    position: relative;
    color: $color-darken-light;

  }
  &-body{
    font-family: 'Arial';
  }
  &-row{
    display: flex;
    justify-content: space-between;
  }
  &-col2{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    // padding: 40px;
  }
}

.icon{
  width: 200px;
  height: 200px;
  border-radius: 50px;
  border: 4px darken($color-sub, 15%) solid;
  @include mq(sm){
    width: 100px;
    height: 100px;
    border-radius: 25px;

  }
}
.name{
  font-size: $fz-m;
  margin-bottom: $space-m;
  // margin-left: $space-m;

}
.btn{
  font-size: 16px;
  padding: 1px 3px;
  i{
    color:$color-darken-light;  margin-right:2px;

  }
}
.container-card{
  margin-left: 10px;
}
.card{
  font-family: 'Arial';
  box-sizing: border-box;
  line-height: 1.8em;
  &-title{
    font-size: $fz-s;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  &-body{
    padding: 0 15px;
  }
  p{
    margin: 5px;
  }
}

footer{
  background: darken($color-sub, 15%);
  small{
    display: block;
    color: #fff;
    text-align: center;
  }
}

.slider-img{
  width: 100%;
}